<div class="container-mapa">
  <div class="container-links">
    <div class="container-accordion"></div>

    <label for="toggle-1">
      Mapa do Site
    </label>
    <input type="checkbox" id="toggle-1">
    <div id="mostra">
      <div class="box-links-mapa">

        <div class="coluna1">
          <div class="grupo1">
            <div id="mapa-links">
              <a href="#" class="titulo-grupo">Sobre a Prefeitura</a>
              <a href="#" class="txt-grupo">Gestores</a>
              <a href="#" class="txt-grupo">Organograma</a>
              <a href="#" class="txt-grupo">Competências</a>
              <a href="#" class="txt-grupo">Legislação</a>
              <a href="#" class="txt-grupo">Relatório de Acompanhamento de Projetos e Execução de Obras Públicas</a>
              <a href="#" class="txt-grupo">Relatório de Gestão Fiscal</a>
              <a href="#" class="txt-grupo">Relatório Resumido de Execução Orçamentária</a>
              <a href="#" class="txt-grupo">Horário de Atendimento</a>
              <a href="#" class="txt-grupo">Endereços e Contatos</a>
              <a href="#" class="txt-grupo">Site Institucional</a>
            </div>
          </div>
          <div class="grupo1">
            <div id="mapa-links">
              <a href="#" class="titulo-grupo">Estamos fazendo</a>
              <a href="#" class="txt-grupo">Lista das ações e programas</a>
              <a href="#" class="txt-grupo">Carta de Serviços</a>
              <a href="#" class="txt-grupo">Programas Financiados</a>
              <a href="#" class="txt-grupo">Participação do orçamento da prefeitura</a>
            </div>
          </div>
          <div class="grupo1">
            <div id="mapa-links">
              <a href="#" class="titulo-grupo">Convênios</a>
              <a href="#" class="txt-grupo">Informações</a>
              <a href="#" class="txt-grupo">Dados do SINCOV</a>
            </div>
          </div>
        </div>
        <div class="coluna2">
          <div class="grupo1">
            <div id="mapa-links">
              <a href="#" class="titulo-grupo">Participação Social</a>
              <a href="#" class="txt-grupo">Ouvidoria</a>
              <a href="#" class="txt-grupo">Audiências e Consultas Públicas</a>
              <a href="#" class="txt-grupo">Consórcios e Órgãos Colegiados</a>
              <a href="#" class="txt-grupo">Outras ações</a>
              <a href="#" class="txt-grupo">SIC - Serviço de Informações ao Cidadão</a>
            </div>
          </div>
          <div class="grupo1">
            <div id="mapa-links">
              <a href="#" class="titulo-grupo">Auditorias</a>
              <a href="#" class="txt-grupo">Consulta processos do TCE-RS</a>
              <a href="#" class="txt-grupo">Relatórios de Auditoria Interna</a>
              <a href="#" class="txt-grupo">Controle Interno</a>
              <a href="#" class="txt-grupo">Controladoria-Geral do Município</a>
            </div>
          </div>
          <div class="grupo1">
            <div id="mapa-links">
              <a href="#" class="titulo-grupo">Licitações e Contratos</a>
              <a href="#" class="txt-grupo">Dados do LICITACON </a>
              <a href="#" class="txt-grupo">Editais</a>
              <a href="#" class="txt-grupo">Realizadas</a>
              <a href="#" class="txt-grupo">Em andamento</a>
            </div>
          </div>
        </div>
        <div class="coluna3">
          <div class="grupo1">
            <div id="mapa-links">
              <a href="#" class="titulo-grupo">Servidores</a>
              <a href="#" class="txt-grupo">Dados</a>
              <a href="#" class="txt-grupo">Diárias e Passagens</a>
              <a href="#" class="txt-grupo">Treinamentos Realizados/Eventos</a>
              <a href="#" class="txt-grupo">Outras ações</a>
              <a href="#" class="txt-grupo">SIC - Serviço de Informações ao Cidadão</a>
            </div>
        </div>
        <div class="grupo1">
          <div id="mapa-links">
            <a href="#" class="titulo-grupo">Receitas e Despesas</a>
            <a href="#" class="txt-grupo">Receitas</a>
            <a href="#" class="txt-grupo">Despesas</a>
            <a href="#" class="txt-grupo">Renúncia de Receitas</a>
            <a href="#" class="txt-grupo">Prestação de Contas</a>
            <a href="#" class="txt-grupo">Repasses</a>
            <a href="#" class="txt-grupo">Lei de Responsabilidade Fiscal</a>
          </div>
      </div>
      </div>
        <div class="coluna4">
          <div class="grupo1">
          <div id="mapa-links">
            <a href="#" class="txt-grupo">Ajuda</a>
            <a href="#" class="txt-grupo">Política de Privacidade</a>
            <a href="#" class="txt-grupo">Termos de uso</a>
            <a href="#" class="txt-grupo">Acessibilidade</a>
            <a href="#" class="txt-grupo">SIC - Serviço de Informações ao Cidadão</a>
          </div>
        </div>
        <div class="grupo1">
          <div id="mapa-links">
            <a href="#" class="titulo-grupo">Dados sobre a COVID-19</a>
            <a href="#" class="titulo-grupo">Informações Classificadas - SIC</a>
            <a href="#" class="titulo-grupo">Glossário</a>
            <a href="#" class="titulo-grupo">Dados Abertos</a>
            <a href="#" class="titulo-grupo">Autenticação/Login</a>
            <a href="#" class="titulo-grupo">Consultas Salvas</a>
            <a href="#" class="titulo-grupo">Minhas notificações</a>
            <a href="#" class="titulo-grupo">Proteção de Dados</a>
          </div>
        </div>
      </div>

      </div>
    </div>

  </div>

</div>
