.container-mapa{
  background: #E6F7FA;

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center
}
.container-links{
  background: #E6F7FA;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-accordion{
  background: #E6F7FA;
  border: none !important;
  display: flex;
  flex-direction: column;
}

.box-links-mapa{
  background: #E6F7FA;
  color: #579EA8;
  display: flex;
  padding: 15px;
}
.titulo-grupo{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #095783;
}
.txt-grupo{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18x;
  color: #095783;
}
#mapa-links{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

a:link{
  text-decoration: none;
  color: #095783;
  line-height: 18x;
}
a:hover{
  text-decoration: none;
  color: #287CAB;
  line-height: 18x;
}
/* Checkbox Hack */
#toggle-1 {
  display:none;
}

label {
  -webkit-appearance: push-button;
  -moz-appearance: button;
  display: flex;
  cursor: pointer;
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #579EA8;
  background: #E6F7FA;
}

/* CSS padrão da div */
#mostra {
  display:none;

}

/* CSS quando o checkbox está marcado */
#toggle-1:checked ~ #mostra {
  display:flex;
  justify-content: space-between;
  width: 100%
}
