<div class="container-fazendo">
  <div class="linha-fazendo">
    <div class="colunas">
        <div class="coluna1">
            <div class="img-widget"><img src="../../../assets/images/widgets/agua-esgoto.svg"></div>
            <div class="linha-1"><span class="dado">97,3%</span> da população tem água tratada</div>
            <div class="linha-1"><span class="dado">73,4%</span> tem seu esgoto coletado</div>
            <div class="linha-1"><span class="dado">345</span> toneladas de lixo recolhidos / dia</div>
            <div class="linha-1"><span class="dado">0</span> coletas seletivas/ semana</div>
        </div>
    </div>
    <div class="colunas">
      <div class="coluna1">
          <div class="img-widget"><img src="../../../assets/images/widgets/obras.svg"></div>
          <div class="linha-1"><span class="dado">78</span> obras realizadas</div>
          <div class="linha-1"><span class="dado">4</span> obras em andamento</div>
          <div class="linha-1"><span class="dado">3</span> obras em fase de projeto</div>
      </div>
    </div>
    <div class="colunas">
      <div class="coluna1">
          <div class="img-widget"><img src="../../../assets/images/widgets/educacao.svg"></div>
          <div class="linha-1"><span class="dado">35</span> creches</div>
          <div class="linha-1"><span class="dado">23</span> escolas</div>
          <div class="linha-1"><span class="dado">5</span> EJAS</div>
      </div>
   </div>
   <div class="colunas">
     <div class="coluna1">
        <div class="img-widget"><img src="../../../assets/images/widgets/saude.svg"></div>
        <div class="linha-1"><span class="dado">0</span> hospitais</div>
        <div class="linha-1"><span class="dado">3</span> Unidades de Pronto Atendimento - UPA</div>
        <div class="linha-1"><span class="dado">5</span> Unidades Básicas de Saúde - UBS</div>
        <div class="linha-1"><span class="dado">8</span> Unidades de Saúde da Família - USF</div>
    </div>
  </div>
    <div class="colunas">
      <div class="coluna1">
        <div class="img-widget"><img src="../../../assets/images/widgets/social.svg"></div>
        <div class="linha-1"><span class="dado">8</span> Conselhos Tutelares</div>
        <div class="linha-1"><span class="dado">1</span> Programa de incentivo à indústria e comércio</div>
        <div class="linha-1"><span class="dado">3 </span> Centros de atendimento à idosos</div>
    </div>
  </div>
</div>
  <div class="saiba">saiba +</div>

</div>

