.container-acoes{
  display: flex;

  flex-direction: column;
}
.breadcrumb{

  width: 1320px;
  margin-left:25px;
  padding-top: 20px

}
.container-breadcrumb{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.titulobreadcrumb{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background-color: #fff;
  margin-top: -22px;
  width: max-content;
  padding: 10px;
  margin-left:50px;
  color: #095783;
}

.caminhobreadcrumb{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #3C8994;
}
.linha1breadcrumb{
  border-bottom: 2px dashed #a5c6da;
  padding: 5px;
}

.linha1-infos{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;

  color: #787878;

}

.box-acoes{
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding: 15px;
}

.filtros-acoes{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}



.toogle-acoes{
  font-family: 'Roboto', sans-serif;
}

.cards-servicos{
  margin-left: 35px
}
.container-cards-acoes{
  display: flex;
}

.coluna1-acoes{
  font-family: 'Roboto', sans-serif;
}

.coluna2-acoes{
  font-family: 'Roboto', sans-serif;
}

.container-filtros{
  display: flex;
  justify-content: space-between;
  width: 1380px;
}
.container-servicos{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
a{
  text-decoration: none;
}
.link-breadcrumb{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  background-color: #fff;

  color: #095783;
}
