<div class="container-acoes">
  <div class="container-breadcrumb">
    <div class="breadcrumb">
      <div class="linha1breadcrumb"></div>
      <div class="titulobreadcrumb"><span class="caminhobreadcrumb"> <a [routerLink]="['/']" class="link-breadcrumb" title="Voltar para página Inicial" alt="Voltar para página Inicial">Início</a> /
        <a [routerLink]="['/estamos-fazendo']" class="link-breadcrumb" title="Voltar para página Estamos Fazendo" alt="Voltar para página Estamos Fazendo">Estamos Fazendo</a> / </span> Carta de Serviços </div><div class="linha2breadcrumb"></div>
    </div>
  </div>
  <div class="container-header">
    <div class="header-carta-servicos">
      <div class="title"><h1>Carta de Serviços</h1></div>
    <div class="infos">O Gastômetro é um instrumento de medição dos principais gastos da prefeitura em relação ao seu orçamento. Selecione um período para filtrar os dados.</div>

    </div>
  </div>
  <div class="box-nav">
    <menu-acoes></menu-acoes>
  </div>
  <div class="container-servicos">

      <div class="box-acoes">


        <div class="menu-servicos">
          <div class="container-menu">
            <filtro-perfil></filtro-perfil>
            <filtro-assunto></filtro-assunto>

            </div>
        </div>

        <div class="cards-servicos">

          <div class="container-servicos">

            <img src="../../../../assets/images/prototipo/carta-servicos.svg">
          </div>
        </div>
  </div>
  </div>
</div>

