<div class="container-acoes">
  <div class="container-breadcrumb">
    <div class="breadcrumb">
      <div class="linha1breadcrumb"></div><div class="titulobreadcrumb"><span class="caminhobreadcrumb"> Estamos Fazendo / </span> Carta de Serviços </div><div class="linha2breadcrumb"></div>
    </div>
  </div>
  <div class="container-servicos">
      <div class="box-acoes">


        <div class="menu-servicos">
          <div class="container-menu">
            <img src="../../../../assets/images/prototipo/menu-carta-servicos.svg">

            </div>
        </div>
        <div class="cards-servicos">
          <div class="linha1-infos">Exibindo 1 - 8 de 157 serviços encontrados.</div>
          <div class="container-servicos">

            <img src="../../../../assets/images/prototipo/carta-servicos.svg">
          </div>
        </div>
  </div>
  </div>
</div>

