
    <div class="container-inicio">
    <div class="box-inicio">
      <div class="linha1-infos">Os dados e informações apresentadas aqui são referentes ao período de 01/01/2020  até 31/10/2020.</div>
      <div class="inicio-linha1">

        <wg-estamos-fazendo></wg-estamos-fazendo>
        <wg-receita-despesa></wg-receita-despesa>
     </div>
     <div class="inicio-linha2">
       <wg-cards-inicio></wg-cards-inicio>
     </div>
     <div class="inicio-linha3">
       <wg-renuncia-receita></wg-renuncia-receita>
       <wg-orcamento></wg-orcamento>
     </div>
  </div>
</div>

