
    <div class="container-inicio">
      <div class="container-breadcrumb">
        <div class="breadcrumb">
          <div class="linha1breadcrumb"></div><div class="titulobreadcrumb"> Página Inicial </div><div class="linha2breadcrumb"></div>
        </div>
      </div>
    <div class="box-inicio">

      <div class="linha1-infos"> Este é um protótipo do modelo de portal transparência do projeto TAF, construído para o trabalho de conclusão do cursos de Sistemas e Informação - Unisinos - 2021.
        Os dados e informações apresentadas aqui são fictícios.</div>
      <div class="inicio-linha1">

        <wg-estamos-fazendo></wg-estamos-fazendo>
        <wg-receita-despesa></wg-receita-despesa>
     </div>
     <div class="inicio-linha2">
       <wg-cards-inicio></wg-cards-inicio>
     </div>
     <div class="inicio-linha3">
       <wg-renuncia-receita></wg-renuncia-receita>
       <wg-orcamento></wg-orcamento>
     </div>
  </div>
</div>

