<div class="container-footer">

  <div class="footer-infos">

      <div class="container-localizacao">
        <div class="img-local"><img src="../../../assets/images/header/localizacao-pin.svg"></div>
        <div class="container-txt-localizacao">
          <div class="txt-localizacao-linha1">Prefeitura Municipal de Picos Gêmeos</div>
          <div class="txt-localizacao-linha2">Avenida Laura Palmer, nº 135, Centro - CEP: 98888-777</div>
        </div>
      </div>

      <div class="container-horarios">
        <div class="txt-horarios-linha1">Centro Administrativo: 8:00h às 17:00h </div>
        <div class="txt-horarios-linha2">Protocolo Geral e Secretaria da Fazenda: 09:00h às 18:00h</div>
      </div>

    <div class="container-redes-sociais">
      <div><img src="../../../assets/images/header/logo-twitter.svg"></div>
      <div><img src="../../../assets/images/header/logo-linkedin.svg"></div>
      <div><img src="../../../assets/images/header/facebook.svg"></div>
      <div><img src="../../../assets/images/header/instagram.svg"></div>
      <div><img src="../../../assets/images/header/whats.svg"></div>
    </div>

 </div>

</div>
