<div class="container-acoes">
  <div class="container-breadcrumb">
    <div class="breadcrumb">
      <div class="linha1breadcrumb"></div>
      <div class="titulobreadcrumb"><span class="caminhobreadcrumb"> <a [routerLink]="['/']" class="link-breadcrumb" title="Voltar para página Inicial" alt="Voltar para página Inicial">Início</a> /
        <a [routerLink]="['/estamos-fazendo']" class="link-breadcrumb" title="Voltar para página Estamos Fazendo" alt="Voltar para página Estamos Fazendo">Estamos Fazendo</a> / </span> Ações e Programas </div>
        <div class="linha2breadcrumb"></div>
    </div>

  </div>

  <div class="container-programas-financiados">
    <div class="header-programas-financiados">
      <div class="title"><h1>Ações e Programas</h1></div>
      <div class="infos">Acompanhe as ações e programas realizados pela prefeitura. Selecione um período para filtrar os dados.</div>
         <div class="box-nav">
            <datepicker-DeAte></datepicker-DeAte>
            <list-select-secretarias></list-select-secretarias>
            <menu-acoes></menu-acoes>
          </div>
      </div>

  </div>

  <div class="container-box-programas">
    <div class="infos-resultados">Exibindo X resultados de Y encontrados.</div>
      <div class="box">

        <div class="linha">

            <div class="card-acao-programa">
                  <div class="header-card-acao-programa">
                    <div class="img-icon-header-card"><img src="../../../../assets/images/icons/sec-habitacao 1.svg" alt="Icone da Secretaria de Habitação" title="Ver informações sobre a Secretaria de Habitação" width="40px"></div>
                    <div class="txt-header-card">Secretaria de Habitação</div>
                  </div>
                  <div class="main-card-acao-programa">
                    <div class="linha-main-card">
                      <div class="txt-card-main">Ação xxxx para yyyy no lugar zzzz.</div>
                      <div class="total-valor">Custo da  ação: R$ 24.570,59</div>
                    </div>

                      <div class="linha-main-card">
                        <div class="txt-card-main">Regularização Fundiária: moradores do Progresso Triângulo, Campo do Medianeira e APAE recebem títulos de Propriedades.</div>
                        <div class="total-valor">Custo da  ação: R$ 20.000,00</div>
                      </div>

                        <div class="linha-main-card">
                          <div class="txt-card-main">Ação aaaa para bbbb.</div>
                          <div class="total-valor">Custo da  ação: R$ 0,00</div>
                        </div>
                  </div>
                  <div class="footer-card-acao-programa">
                    <div class="txt-card-footer">Total de ações no período: 3</div>
                    <div class="total-valor-footer">Total dos custos: R$ 44.570,59</div>
                  </div>
                </div>

                <div class="card-acao-programa">
                  <div class="header-card-acao-programa">
                    <div class="img-icon-header-card"><img src="../../../../assets/images/icons/sec-educacao.svg" alt="Icone da Secretaria de Educação" title="Ver informações sobre a Secretaria de Educação" width="40px"></div>
                    <div class="txt-header-card">Secretaria de Educação</div>
                  </div>
                  <div class="main-card-acao-programa">
                    <div class="linha-main-card">
                      <div class="txt-card-main">Ação xxxx para yyyy no lugar zzzz.</div>
                      <div class="total-valor">Custo da  ação: R$ 24.570,59</div>
                    </div>

                      <div class="linha-main-card">
                        <div class="txt-card-main">Regularização Fundiária: moradores do Progresso Triângulo, Campo do Medianeira e APAE recebem títulos de Propriedades.</div>
                        <div class="total-valor">Custo da  ação: R$ 20.000,00</div>
                      </div>

                        <div class="linha-main-card">
                          <div class="txt-card-main">Ação aaaa para bbbb.</div>
                          <div class="total-valor">Custo da  ação: R$ 0,00</div>
                        </div>
                  </div>
                  <div class="footer-card-acao-programa">
                    <div class="txt-card-footer">Total de ações no período: 3</div>
                    <div class="total-valor-footer">Total dos custos: R$ 44.570,59</div>
                  </div>
                </div>

            </div>

            <div class="linha">

              <div class="card-acao-programa">
                    <div class="header-card-acao-programa">
                      <div class="img-icon-header-card"><img src="../../../../assets/images/icons/gabinete-prefeito.svg" alt="Icone do Gabinete do Prefeito" title="Ver informações sobre o Gabinete do Prefeito" width="40px"></div>
                      <div class="txt-header-card">Gabinete do Prefeito</div>
                    </div>
                    <div class="main-card-acao-programa">
                      <div class="linha-main-card">
                        <div class="txt-card-main">Ação xxxx para yyyy no lugar zzzz.</div>
                        <div class="total-valor">Custo da  ação: R$ 24.570,59</div>
                      </div>

                        <div class="linha-main-card">
                          <div class="txt-card-main">Regularização Fundiária: moradores do Progresso Triângulo, Campo do Medianeira e APAE recebem títulos de Propriedades.</div>
                          <div class="total-valor">Custo da  ação: R$ 20.000,00</div>
                        </div>

                    </div>
                    <div class="footer-card-acao-programa">
                      <div class="txt-card-footer">Total de ações no período: 2</div>
                      <div class="total-valor-footer">Total dos custos: R$ 44.570,59</div>
                    </div>
                  </div>

                  <div class="card-acao-programa">
                    <div class="header-card-acao-programa">
                      <div class="img-icon-header-card"><img src="../../../../assets/images/icons/sec-agricultura.svg" alt="Icone da Secretaria de Agricultura" title="Ver informações sobre a Secretaria de Agricultura" width="40px"></div>
                      <div class="txt-header-card">Secretaria de Agricultura</div>
                    </div>
                    <div class="main-card-acao-programa">
                      <div class="linha-main-card">
                        <div class="txt-card-main">Ação xxxx para yyyy no lugar zzzz.</div>
                        <div class="total-valor">Custo da  ação: R$ 24.570,59</div>
                      </div>

                        <div class="linha-main-card">
                          <div class="txt-card-main">Regularização Fundiária: moradores do Progresso Triângulo, Campo do Medianeira e APAE recebem títulos de Propriedades.</div>
                          <div class="total-valor">Custo da  ação: R$ 20.000,00</div>
                        </div>

                          <div class="linha-main-card">
                            <div class="txt-card-main">Ação aaaa para bbbb.</div>
                            <div class="total-valor">Custo da  ação: R$ 0,00</div>
                          </div>
                    </div>
                    <div class="footer-card-acao-programa">
                      <div class="txt-card-footer">Total de ações no período: 3</div>
                      <div class="total-valor-footer">Total dos custos: R$ 44.570,59</div>
                    </div>
                  </div>

              </div>

          </div>

        </div>
        <div class="recebe-notfic">
          <label class="container">Quero receber notificações quando houver novas ações ou programas!
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
      </div>
 </div>

