<div class="container-acoes">
  <div class="container-breadcrumb">
    <div class="breadcrumb">
      <div class="linha1breadcrumb"></div>
      <div class="titulobreadcrumb"><span class="caminhobreadcrumb"> <a [routerLink]="['/']" class="link-breadcrumb" title="Voltar para página Inicial" alt="Voltar para página Inicial">Início</a> /
        <a [routerLink]="['/estamos-fazendo']" class="link-breadcrumb" title="Voltar para página Estamos Fazendo" alt="Voltar para página Estamos Fazendo">Estamos Fazendo</a> / </span> Programas Financiados </div><div class="linha2breadcrumb"></div>
    </div>

  </div>

  <div class="container-programas-financiados">
  <div class="header-programas-financiados">
    <div class="title"><h1>Programas Financiados</h1></div>
    <div class="infos">O Gastômetro é um instrumento de medição dos principais gastos da prefeitura em relação ao seu orçamento. Selecione um período para filtrar os dados.</div>

          <div class="box-nav">
            <datepicker-DeAte></datepicker-DeAte>
            <menu-esfera-governo></menu-esfera-governo>
            <menu-acoes></menu-acoes>

          </div>
        </div>

     </div>
        <div class="container-box-programas">
          <div class="infos-resultados">Exibindo X resultados de Y encontrados.</div>
          <div class="box">
            <div class="linha">

              <div class="card-acao-programa">
                    <div class="header-card-acao-programa">
                      <div class="img-icon-header-card"><img src="../../../../assets/images/icons/sec-habitacao 1.svg" alt="Icone da Secretaria de Habitação" title="Ver informações sobre a Secretaria de Habitação" width="40px"></div>
                      <div class="txt-header-card">Secretaria de Habitação</div>
                    </div>
                    <div class="main-card-acao-programa">
                      <div class="linha-main-card">
                        <div class="container-linha-card">

                          <div class="toogle-recurso-federal">RECURSO FEDERAL</div>
                          <div class="toogle-recurso-estadual">RECURSO ESTADUAL</div>
                      </div>
                      <div class="txt-card-main">Programa XXXX</div>


                        <div class="total-valor">Total do Financiamento: R$ 124.570,59</div>


                      </div>

                        <div class="linha-main-card">
                          <div class="container-linha-card">

                            <div class="toogle-recurso-estadual">RECURSO ESTADUAL</div>
                         </div>
                         <div class="txt-card-main">Programa yyyy</div>
                          <div class="total-valor">Total do Financiamento: R$ 20.000,00</div>
                        </div>

                          <div class="linha-main-card">
                            <div class="container-linha-card">
                              <div class="toogle-recurso-federal">RECURSO FEDERAL</div>
                              <div class="toogle-recurso-municipal">RECURSO MUNICIPAL</div>
                            </div>
                            <div class="txt-card-main">Programa ZZZZ</div>
                            <div class="total-valor">Total do Financiamento: R$ 550.000,00</div>
                          </div>
                    </div>
                    <div class="footer-card-acao-programa">
                      <div class="bt-ver-mais">Ver + no PPA*</div>
                      <div class="txt-card-footer">Total de ações no período: 3</div>
                    </div>
                  </div>

                  <div class="card-acao-programa">
                    <div class="header-card-acao-programa">
                      <div class="img-icon-header-card"><img src="../../../../assets/images/icons/sec-obras.svg" alt="Icone da Secretaria de Obras" title="Ver informações sobre a Secretaria de Obras" width="40px"></div>
                      <div class="txt-header-card">Secretaria Obras</div>
                    </div>
                    <div class="main-card-acao-programa">
                      <div class="linha-main-card">
                        <div class="container-linha-card">

                          <div class="toogle-recurso-federal">RECURSO FEDERAL</div>
                      </div>
                      <div class="txt-card-main">Programa XXXX</div>


                        <div class="total-valor">Total do Financiamento: R$ 124.570,59</div>


                      </div>

                        <div class="linha-main-card">
                          <div class="container-linha-card">

                            <div class="toogle-recurso-estadual">RECURSO ESTADUAL</div><div class="toogle-recurso-municipal">RECURSO MUNICIPAL</div>
                         </div>
                         <div class="txt-card-main">Programa yyyy</div>
                          <div class="total-valor">Total do Financiamento: R$ 20.000,00</div>
                        </div>

                          <div class="linha-main-card">
                            <div class="container-linha-card">
                              <div class="toogle-recurso-municipal">RECURSO MUNICIPAL</div>
                            </div>
                            <div class="txt-card-main">Programa ZZZZ</div>
                            <div class="total-valor">Total do Financiamento: R$ 550.000,00</div>
                          </div>

                          <div class="linha-main-card">
                            <div class="container-linha-card">
                              <div class="toogle-recurso-federal">RECURSO FEDERAL</div>
                              <div class="toogle-recurso-municipal">RECURSO MUNICIPAL</div>
                            </div>
                            <div class="txt-card-main">Programa AAAAA</div>
                            <div class="total-valor">Total do Financiamento: R$ 550.000,00</div>
                          </div>
                    </div>
                    <div class="footer-card-acao-programa">
                      <div class="bt-ver-mais">Ver + no PPA*</div>
                      <div class="txt-card-footer">Total de ações no período: 3</div>
                    </div>
                  </div>


              </div>


          </div>

        </div>
        <div class="recebe-notfic">
          <label class="container">Quero receber notificações quando houver novos programas financiados!
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
      </div>
 </div>

