<div class="container-cards">
  <div class="box-cards">
    <div class="linha-cards">
      <div class="card1">
        <div id="img-card"><img src="../../../assets/images/widgets/pessoal.svg"></div>
        <div class="conteudo-card">

          <div class="dados-card">
            <div class="linha-opcoes">
              <div class="bt-compartilhar"><img src="../../../assets/images/widgets/compartilhar.svg"></div>
              <div class="bt-download"><img src="../../../assets/images/widgets/download.svg"></div>
            </div>
            <div class="linha-dados-card"><span class="dadoEnfase1">1.245</span> servidores<span class="dadoEnfase2"> ativos</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">974</span> servidores<span class="dadoEnfase2"> inativos</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">325</span> cargos em Comissão</div>
            <div class="linha-dados-card"><span class="dadoEnfase1">108</span> servidores<span class="dadoEnfase2"> temporários</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">209</span> estagiários</div>
          </div>


        </div>
        <div id="botao-mais"><img src="../../../assets/images/widgets/bt-mais.svg"></div>
        <div class="linha-bt-resumo">
          <div class="bt-resumo">
            <div class="desc-botao">gastos com folha de pagamento</div>
            <div class="linha-baixo-botao">
              <div class="img-botao"><img src="../../../assets/images/widgets/dinheiro.svg"></div>
              <div class="valor">R$ 2.278.478.28</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card2">
        <div id="img-card"><img src="../../../assets/images/widgets/pessoal.svg"></div>
        <div class="conteudo-card">

          <div class="dados-card">
            <div class="linha-opcoes">
              <div class="bt-compartilhar"><img src="../../../assets/images/widgets/compartilhar.svg"></div>
              <div class="bt-download"><img src="../../../assets/images/widgets/download.svg"></div>
            </div>
            <div class="linha-dados-card"><span class="dadoEnfase1">1.245</span> servidores<span class="dadoEnfase2"> ativos</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">974</span> servidores<span class="dadoEnfase2"> inativos</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">325</span> cargos em Comissão</div>
            <div class="linha-dados-card"><span class="dadoEnfase1">108</span> servidores<span class="dadoEnfase2"> temporários</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">209</span> estagiários</div>
          </div>


        </div>
        <div id="botao-mais"><img src="../../../assets/images/widgets/bt-mais.svg"></div>
        <div class="linha-bt-resumo">
          <div class="bt-resumo">
            <div class="desc-botao">gastos com folha de pagamento</div>
            <div class="linha-baixo-botao">
              <div class="img-botao"><img src="../../../assets/images/widgets/dinheiro.svg"></div>
              <div class="valor">R$ 2.278.478.28</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card3">
        <div id="img-card"><img src="../../../assets/images/widgets/pessoal.svg"></div>
        <div class="conteudo-card">

          <div class="dados-card">
            <div class="linha-opcoes">
              <div class="bt-compartilhar"><img src="../../../assets/images/widgets/compartilhar.svg"></div>
              <div class="bt-download"><img src="../../../assets/images/widgets/download.svg"></div>
            </div>
            <div class="linha-dados-card"><span class="dadoEnfase1">1.245</span> servidores<span class="dadoEnfase2"> ativos</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">974</span> servidores<span class="dadoEnfase2"> inativos</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">325</span> cargos em Comissão</div>
            <div class="linha-dados-card"><span class="dadoEnfase1">108</span> servidores<span class="dadoEnfase2"> temporários</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">209</span> estagiários</div>
          </div>


        </div>
        <div id="botao-mais"><img src="../../../assets/images/widgets/bt-mais.svg"></div>
        <div class="linha-bt-resumo">
          <div class="bt-resumo">
            <div class="desc-botao">gastos com folha de pagamento</div>
            <div class="linha-baixo-botao">
              <div class="img-botao"><img src="../../../assets/images/widgets/dinheiro.svg"></div>
              <div class="valor">R$ 2.278.478.28</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card4">
        <div id="img-card"><img src="../../../assets/images/widgets/pessoal.svg"></div>
        <div class="conteudo-card">

          <div class="dados-card">
            <div class="linha-opcoes">
              <div class="bt-compartilhar"><img src="../../../assets/images/widgets/compartilhar.svg"></div>
              <div class="bt-download"><img src="../../../assets/images/widgets/download.svg"></div>
            </div>
            <div class="linha-dados-card"><span class="dadoEnfase1">1.245</span> servidores<span class="dadoEnfase2"> ativos</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">974</span> servidores<span class="dadoEnfase2"> inativos</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">325</span> cargos em Comissão</div>
            <div class="linha-dados-card"><span class="dadoEnfase1">108</span> servidores<span class="dadoEnfase2"> temporários</span></div>
            <div class="linha-dados-card"><span class="dadoEnfase1">209</span> estagiários</div>
          </div>


        </div>
        <div id="botao-mais"><img src="../../../assets/images/widgets/bt-mais.svg"></div>
        <div class="linha-bt-resumo">
          <div class="bt-resumo">
            <div class="desc-botao">gastos com folha de pagamento</div>
            <div class="linha-baixo-botao">
              <div class="img-botao"><img src="../../../assets/images/widgets/dinheiro.svg"></div>
              <div class="valor">R$ 2.278.478.28</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


