.container-gastometro{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.infos-gastrometro{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #095783;
  display: flex;
}
.box-gastometro{
  background: #F4FBFE;
  border: 2px solid #89C9ED;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 1300px;
  justify-content: space-between;
}
.linha-gastometro{
  display: flex;
  flex-direction: row;
  padding-left: 45px;
  padding-right: 55px;
}
.img-gastometro{
  margin: 35px;
}
.container-acoes{
  display: flex;

  flex-direction: column;
}
.breadcrumb{

  width: 1320px;
  margin-left:25px;
  padding-top: 20px

}
.container-breadcrumb{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.titulobreadcrumb{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background-color: #fff;
  margin-top: -22px;
  width: max-content;
  padding: 10px;
  margin-left:50px;
  color: #095783;
}

.caminhobreadcrumb{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #3C8994;
}
.linha1breadcrumb{
  border-bottom: 2px dashed #a5c6da;
  padding: 5px;
}
h1{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;
/* identical to box height, or 122% */

display: flex;
align-items: center;

/* TAF-Azul01-07 */

color: #095783;
}
.header-gastometro{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 1320px;
  margin: 20px;
  padding-left: 20px;
}

.datepiker-gastometro{
  padding-top: 20px;
  display: flex;

}
.labeldata{
  font-family: 'Roboto', sans-serif;
  color: #095783;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.inputdata{
  font-family: 'Roboto', sans-serif;
  color: #095783;
  border: none !important;
}
::ng-deep .mat-calendar-header{background-color: #CEE7F5;}
::ng-deep .mat-form-field{

  background-color: #fff;
  color: #095783;
  width: 120px;
}
::ng-deep .mat-label{

  color: #095783;
}
::ng-deep .mat-datepicker-toggle{
  color: #095783;
}
.data-ate{
  padding-left: 20px;
}
