<div class="container-acoes">
  <div class="container-breadcrumb">
    <div class="breadcrumb">
      <div class="linha1breadcrumb"></div>
      <div class="titulobreadcrumb"><span class="caminhobreadcrumb"> <a [routerLink]="['/']" class="link-breadcrumb" title="Voltar para página Inicial" alt="Voltar para página Inicial">Início</a> /
        <a [routerLink]="['/auditorias']" class="link-breadcrumb" title="Voltar para página Auditorias" alt="Voltar para página Auditorias">Auditorias</a> / </span> Auditorias Internas </div><div class="linha2breadcrumb"></div>
    </div>

  </div>

  <div class="container-programas-financiados">
  <div class="header-programas-financiados">
    <div class="title"><h1>Auditorias</h1></div>
    <div class="infos">xxxxxxxxx. Selecione um período para filtrar os dados.</div>
    <div class="box-nav">
      <datepicker-DeAte></datepicker-DeAte>
      <menu-acoes></menu-acoes>

    </div>
        </div>

     </div>
        <div class="container-box-programas">
          <div class="box">

        </div>
        <div class="recebe-notfic">
          <label class="container">Quero receber notificações quando houver atualizações de dados de Auditorias!
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
      </div>
 </div>

