<div id="container">
  <div class="container-menu">
  <button mat-button [matMenuTriggerFor]="estamosFazendo" class="item-menu-principal">Estamos Fazendo<mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #estamosFazendo="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="licitacoesContratos" class="item-menu-principal">Licitações e Contratos<mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #licitacoesContratos="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="receitasDespesas" class="item-menu-principal">Receitas e Despesas<mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #receitasDespesas="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="gastosPessoal" class="item-menu-principal">Pessoal<mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #gastosPessoal="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="conveniosTransferencias" class="item-menu-principal">Repasses<mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #conveniosTransferencias="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="paticipacaoSocial" class="item-menu-principal">Participação Social <mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #paticipacaoSocial="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="auditorias" class="item-menu-principal">Auditorias<mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #auditorias="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="informacoesClassificadas" class="item-menu-principal">Informações - SIC<mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #informacoesClassificadas="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="institucional" class="item-menu-principal">Sobre a prefeitura<mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #institucional="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

</div>
</div>
