.container-programas-financiados{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.container-box-programas{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.infos{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #4d4f50;
  display: flex;
}
.box{
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 1300px;
  justify-content: space-between;
  padding-top: 25px;
}
.linha{
  display: flex;
  flex-direction: row;
  padding-left: 45px;
  padding-right: 55px;
}
.img-programas-financiados{
  margin: 35px;
}
.container-acoes{
  display: flex;

  flex-direction: column;
}
.breadcrumb{

  width: 1320px;
  margin-left:25px;
  padding-top: 20px

}
.container-breadcrumb{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.titulobreadcrumb{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background-color: #fff;
  margin-top: -22px;
  width: max-content;
  padding: 10px;
  margin-left:50px;
  color: #095783;
}

.caminhobreadcrumb{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #3C8994;
}
.linha1breadcrumb{
  border-bottom: 2px dashed #a5c6da;
  padding: 5px;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #4898C5
}
.header-programas-financiados{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 1320px;
  margin: 20px;
  padding-left: 20px;
}

.datepiker-programas-financiados{
  padding-top: 20px;
  display: flex;

}
.labeldata{
  font-family: 'Roboto', sans-serif;
  color: #095783;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.inputdata{
  font-family: 'Roboto', sans-serif;
  color: #095783;
  border: none !important;
}
::ng-deep .mat-calendar-header{background-color: #CEE7F5;}
::ng-deep .mat-form-field{

  background-color: #fff;
  color: #095783;
  width: 120px;
}
::ng-deep .mat-label{

  color: #095783;
}
::ng-deep .mat-datepicker-toggle{
  color: #095783;
}
.data-ate{
  padding-left: 20px;
}
a{
  text-decoration: none;
}
.link-breadcrumb{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  background-color: #fff;

  color: #095783;
}
.box-nav{
  display: flex;
  justify-content: space-between;
}

.notificacoes{
  padding-top: 20px;
  margin-right: 35px;
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #095783;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #E7F6FE;
  color: #4898C5;

}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #c6d6df;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4898C5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 4px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.infos-resultados{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #4898C5;
  text-align: right;
  width: 1200px;
  padding-bottom: 10px;
}
.compartilhar-imprimir-salvar{
  display: flex;
  justify-content: flex-end;

}
.img-comp-imp-sal{
  padding-left: 20px;
  cursor: pointer;
}
.recebe-notfic{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 35px;
}
