<div class="cabecalho">

  <div id="container" >
    <div class="container-banner">

    <div class="identificacao">
      <div class="img-logo"><img src="../../../assets/images/header/brasao_oficial 1.png"></div>
      <div class="texto-indentificacao">
        <div class="titulo-portal">TRANSPARÊNCIA</div>
        <div class="instituicao">Prefeitura de Eldorado do Sul - RS</div>
      </div>
    </div>

    <div class="container-pesquisa">
      <app-form-consulta-portal></app-form-consulta-portal>
    </div>

    <div class="container-sic">
      <img src="../../../assets/images/header/SIC.svg">
    </div>

    <div class="container-links">
      <div class="nav-banner">
        <img src="../../../assets/images/header/login-usuario.svg">
        <img src="../../../assets/images/header/ajuda.svg">
        <img src="../../../assets/images/header/contato.svg">
      </div>
      <div class="acessibilidade">
        <div class="txt-acessibilidade">Acessibilidade</div>
        <div class="img-acessibilidade"><img src="../../../assets/images/header/contraste.svg"></div>
      </div>
    </div>

  </div>

</div>

</div>
<app-menu></app-menu>

