<div class="notificacoes">
    <div class="compartilhar-imprimir-salvar">
       <div class="img-comp-imp-sal">
          <img src="../../../../assets/images/widgets/compartilhar-claro.svg" height="20px" title="Compartilhar" alt="Compartilhar">
       </div>
       <div class="img-comp-imp-sal">
          <img src="../../../../assets/images/widgets/download-claro.svg" height="20px" title="Salvar conteúdo" alt="Salvar Conteúdo">
       </div>
       <div class="img-comp-imp-sal">
          <img src="../../../../assets/images/widgets/imprimir-claro.svg"  title="Imprimir conteúdo" alt="Imprimir Conteúdo">
       </div>
     </div>
</div>
