
<div class="container-esfera-governo">

  <div class="item-esfera-governo">
    <label class="container">Todos
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="item-esfera-governo">
    <label class="container">Recursos Federais
      <input type="checkbox" >
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="item-esfera-governo">
    <label class="container">Recursos Estaduais
      <input type="checkbox" >
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="item-esfera-governo">
    <label class="container">Recursos Municipais
      <input type="checkbox" >
      <span class="checkmark"></span>
    </label>
  </div>
</div>
