.container-widget{

  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 580px;

}

.linha1-orcamento{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #095783;

}

.linha3-orcamento{
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.grafico{
  margin-left: 0;

}
.acoes{
  display: flex;
  justify-content:space-evenly;
  padding-top: 20px

}

.bt-compartilhar{
  padding-right: 20px;
}
