<div class="container-widget">
  <div class="linha1-orcamento">O orçamento de outubro/2020 foi composto por:</div>
  <div class="linha2-orcamento">
    <div class="grafico"><img src="../../../assets/images/widgets/grafico-orcamento.svg"></div>
  </div>
  <div class="linha3-orcamento">
    <div class="acoes">
      <div class="bt-compartilhar"><img src="../../../assets/images/widgets/compartilhar.svg"></div>
      <div class="bt-download"><img src="../../../assets/images/widgets/download.svg"></div>
    </div>
    <div id="botao-mais"><img src="../../../assets/images/widgets/bt-mais.svg"></div>
  </div>

</div>
