<div class="container-widget">
  <div class="linha1-reuncia">Instituições benificiadas por renúncia  de receitas e incetívos fiscais:</div>
  <div class="linha2-reuncia">
    <div class="dados-renuncia">
      <p>Silva e Silva Edificações LTDA</p>
      <p>Souza e Cia LTDA</p>
      <p>Empresa de beneficiamento de soja Urtigão S/A</p>
      <p>Empresa XYZ S/A</p>
      <p>Empresa ABC LTDA</p>
      <p>XPTO e CIA LTDA</p>

    </div>
    <div class="img-renuncia"><img src="../../../assets/images/widgets/beneficiadas.svg"></div>
  </div>
  <div class="linha3-reuncia">
    <div class="acoes">
      <div class="bt-compartilhar"><img src="../../../assets/images/widgets/compartilhar.svg"></div>
      <div class="bt-download"><img src="../../../assets/images/widgets/download.svg"></div>
    </div>
    <div id="botao-mais"><img src="../../../assets/images/widgets/bt-mais.svg"></div>
  </div>
</div>
