
<div class="container-assunto">
<div class="label-assunto">
  Filtrar por:
</div>
  <div class="item-assunto">
    <label class="container">Todos
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="item-assunto">
    <label class="container">Animais
      <input type="checkbox" >
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="item-assunto">
    <label class="container">Aprovação e licenciamento de edificações
      <input type="checkbox" >
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="item-assunto">
    <label class="container">Assistência social
      <input type="checkbox" >
      <span class="checkmark"></span>
    </label>
  </div>


<div class="item-assunto">
  <label class="container">Atendimento e ouvidoria
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Atividade rural
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Auxílio ao servidor
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Cultura e turismo
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Documentos, licenças e autorizações
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Educação
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Esporte
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Fiscalização
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Impostos e taxas
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Indústria e comércio
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Meio ambiente
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Saneamento
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Saúde
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Segurança
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Serviços urbanos
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Tecnologia e inovação
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Trabalho e emprego
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Trânsito e transporte
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="item-assunto">
  <label class="container">Urbanismo
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
</div>

