<div class="container-acoes">
  <div class="container-breadcrumb">
    <div class="breadcrumb">
      <div class="linha1breadcrumb"></div>
      <div class="titulobreadcrumb"><span class="caminhobreadcrumb"> <a [routerLink]="['/']" class="link-breadcrumb" title="Voltar para página Inicial" alt="Voltar para página Inicial">Início</a> /
        <a [routerLink]="['/estamos-fazendo']" class="link-breadcrumb" title="Voltar para página Institucional" alt="Voltar para página Institucional">Institucional</a> / </span> Gestores </div><div class="linha2breadcrumb"></div>
    </div>

  </div>

  <div class="container-programas-financiados">
  <div class="header-programas-financiados">
    <div class="title"><h1>Gestores - 2021-2025</h1></div>


        </div>

     </div>
        <div class="container-box-programas">
          <div class="box">

            <div class="linha">
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/prefeito.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/vice-prefeito.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/chefe-gab-prefeito.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/assessor-juridico.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/assessor-comunicacao.svg" title="Clique para ver mais informações"></div>
            </div>

            <div class="linha">
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/contabilidade.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/controle-interno.svg" title="Clique para ver mais informações"></div>
            </div>

            <div class="title"><h1>Secretarias</h1></div>

            <div class="linha">
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-agricultura.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-assis-social.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-cultura.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-educacao.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-esporte.svg" title="Clique para ver mais informações"></div>
            </div>


            <div class="linha">
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-fazenda.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-gestao-planejamento.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-habitacao.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-industria-comercio.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-meio-ambiente.svg" title="Clique para ver mais informações"></div>
            </div>

            <div class="linha">
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-obras.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-pesca.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-saude.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-seguranca.svg" title="Clique para ver mais informações"></div>
              <div class="img-programas-financiados"><img src="../../../../assets/images/gestao/sec-turismo.svg" title="Clique para ver mais informações"></div>
            </div>

          </div>
        </div>

 </div>


